<%- include("./template/header.ejs") %>
<link rel="stylesheet" href="/css/index.css" />
<body class="bg-[#FEEED5] relative p-0 m-0">
  <!-- ini modal edit-->
  <div class="container-for-modal fixed inset-0 bg-[#00000080] z-10 flex justify-center items-center">
    <div class="modal w-screen h-screen lg:w-[996px] lg:h-auto bg-[#F6732F] border-[3px] border-[#A83A00] p-3">
      <div class="box flex flex-col flex-grow gap-10">
      <input type="text" name="modal-title" id="modal-title" class="bg-transparent outline-none border-[#fff] border-solid border-[3px] h-[92px] text-[48px] text-white">
      <textarea name="modal-desc" id="modal-desc" class="bg-transparent outline-none border-[#fff] border-solid border-[3px] h-[65vh] lg:h-[280px] text-[36px] text-white">hi</textarea>
      </div>
      <div class="char-count text-white gap-0 text-right p-3">0/193</div>
            <div class="state-buttons w-full flex justify-end gap-5 flex-col lg:flex-row">
        <button class="close text-white border-[3px] border-[#fff] border-solid px-5 py-1 w-full lg:w-1/6 h-[68px] text-[30px] hover:text-[#F6732F] hover:bg-[#fff] transition-colors duration-[400ms]">Close</button>
        <button class="save text-white border-[3px] border-[#fff] border-solid px-5 py-1 w-full lg:w-1/6 h-[68px] text-[30px] hover:text-[#F6732F] hover:bg-[#fff] transition-colors duration-[400ms] ">Save</button>
      </div>  
    </div>
  </div>

  <div class="header min-w-full flex justify-between p-4">
    <div class="logo hidden md:block">
      <img src="/asset/SVG/Icon.svg" alt="booknote" />
    </div>
    <div class="searchbar flex items-center w-full md:w-auto">
      <form
        action=""
        method="post"
        class="m-0 p-0 flex gap-1 w-full md:h-[44px]"
      >
        <input
          type="text"
          name="topics"
          id="topics"
          class="flex-grow md:w-[331px] border-[1.5px] border-black border-solid bg-transparent outline-none focus:outline-none placeholder-black p-2 opacity-30 topic-search"
          placeholder="Enter any topics..."
        />
        <button
          type="submit"
          class="bg-[#F6732F] p-2 flex-shrink-0 hover:bg-[#ba5620] transition-colors duration-[400ms]"
        >
          <img src="/asset/SVG/search.svg" alt="serach-icon" />
        </button>
      </form>
    </div>
  </div>

  <div class="lists grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 min-h-[70vh] gap-x-1 gap-y-5 p-5 m-5 md:gap-y-[100px] lg:gap-y-5 h-auto">
    <% list_theme.forEach((theme) => {%>
    <div class="list-card h-auto lg:h-[338px] xl:h-[288px] w-full max-w-[640px]">
      <h2 class="card-title font-bold text-[32px]"><%= theme.title %></h2>
      <p class="card-explain text-[20px] min-h-[120px]">
        <%= theme.description %>
      </p>
      <button class="bg-[#F6732F] text-white w-full text-[32px] my-2 hover:bg-[#ba5620] duration-300">Check</button>
      <div class="read-button-card container flex justify-around p-2">
        <button class="button-delete text-[#F6732F] flex gap-1 text-[20px] hover:bg-[#c0b4a02d] hover:rounded-md duration-300 p-1"> <span><img src="/asset/SVG/trash-fill.svg" alt="delete-icon"></span>Delete</button>
        <button class="button-edit text-[#F6732F] flex gap-1 text-[20px] hover:bg-[#c0b4a02d] hover:rounded-md duration-300 p-1" ><span><img src="/asset/SVG/pen-fill.svg" alt="edit-icon"></span>edit</button>
      </div>
    </div>
    <% }) %>
    
  </div>
  <div class="container-pagination flex justify-end mx-5 px-5">
    <div class="pagination flex gap-2 ">
      <div class="previous text-[15px] text-[#F6732F] page-items hover:bg-[#c0b4a02d] hover:rounded-md duration-300 cursor-pointer "> < Prev</div>
      <div class="first-item text-[20px] text-[#F6732F] page-items" id="first-item">0</div>
      <div class="second-item text-[20px] text-white bg-[#F6732F] page-items" id="second-item">1</div>
      <div class="third-item text-[20px] text-[#F6732F] page-items" id="third-item">2</div>
      <div class="next text-[15px] text-[#F6732F] page-items hover:bg-[#c0b4a02d] hover:rounded-md duration-300 cursor-pointer">Next ></div>
    </div>
  </div>
</body>
<script type="module" src="/js/style.js"></script>
<%- include("./template/footer.ejs") %>
