<%- include("./template/header.ejs") %>
<link rel="stylesheet" href="/css/index.css" />
<body class="bg-[#FEEED5] relative p-0 m-0">
  <div class="header grid grid-cols-1 lg:grid-cols-2 w-screen pt-4 px-5">
    <div class="titleThemeandBackButton gap-5 items-center hidden lg:flex">
      <a href="/">
        <div
          class="justify-center items-center button flex lg:w-[100px] lg:h-[100px] bg-[#F6732F] hover:bg-[#ba5620] duration-300"
        >
          <img
            src="/asset/SVG/arrow-left.svg"
            alt="left-arrow"
            srcset=""
            class="hidden lg:block lg:h-[80px] lg:w-[80px]"
          />
        </div>
      </a>
      <div class="text">
        <div class="title font-bold text-[48px]"><%= title %></div>
        <p class="text-gray-500"> <i>ctrl + s - save</i></p>
      </div>
    </div>
    <div class="button-section flex justify-end flex-col gap-5">
        <button class="bg-[#F6732F] w-full lg:w-[181px] lg:h-[44px] text-white text-[32px] hover:bg-[#A83A00] transition-colors duration-[400ms]">save</button>
        <button class="bg-[#F6732F] w-full lg:w-[181px] lg:h-[44px] text-white text-[32px] block lg:hidden hover:bg-[#A83A00] transition-colors duration-[400ms]">back</button>
    </div>
  </div>
  <div class="content grid grid-cols-1 lg:grid-cols-2 w-screen py-4 px-5 gap-3">
    <div class="type w-full h-full overflow-scroll">
        <textarea 
        class="min-w-[636px] min-h-[836px] bg-[#fff] p-5 box-border resize-none w-full h-full" 
        placeholder="type your markdown here..."
        id="markdown-input"><%= markdown %></textarea>
    </div>
    <div class="renderer w-full h-full overflow-scroll">
        <div class=" min-w-[636px] min-h-[836px] bg-[#fff] p-5 box-border w-full h-full prose  max-w-none" id="markdown-preview">
            
        </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@2.3.6/dist/purify.min.js"></script>
    <script type="module" src="/js/markdown-preview.js"></script>
</body>
<%- include("./template/footer.ejs") %>
