.page-items{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.topic-search:focus,
.topic-search:not(:placeholder-shown) {
  opacity: 1;
}

::-webkit-scrollbar{
  display: none;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);      
  cursor: pointer;
}